<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Изменить обед</h1>

<form data-th-action="@{/edit/{id}(id=${record.getId()})}" method="post">
    <input type="text" name="product" placeholder="product" data-th-value="${record.getProduct()}">
    <input type="text" name="productAmount" placeholder="productAmount at gramm" data-th-value="${record.getProductAmount()}">
    <input type="text" name="carbohydratePerAmount" placeholder="carbohydratePerAmount at 100 product" data-th-value="${record.getCarbohydratePerAmount()}">
    <button>Сохранить</button>
</form>
</body>
</html>