<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Дневник потребленных углеводов</title>
</head>
<body>
<h1>Дневник потребленных углеводов</h1>

<div data-th-each="record : ${records}" data-th-if="${record}">
    <a data-th-href="@{/view/{id}(id=${record.getId()})}">
        [[ ${record.getId()} ]] [[ ${record.getProduct()} ]] [[ ${record.getProductAmount()} ]] [[ ${record.getCarbohydratePerAmount()} ]] [[ ${record.getAmountOfBreadUnit()} ]]
    </a>
</div>

<a data-th-href="@{/add}">Добавить обед</a>

</body>
</html>