<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>[[ ${record.getProduct()} ]]</h1>
<p>[[ ${record.getProductAmount()} ]]</p>
<p>[[ ${record.getCarbohydratePerAmount()} ]]</p>
<p>[[ ${record.getAmountOfBreadUnit()} ]]</p>

<a data-th-href="@{/edit/{id}(id=${record.getId()})}">Редактировать</a>

<form data-th-action="@{/remove/{id}(id=${record.getId()})}" method="post">
    <button>Удалить</button>

</form>
</body>
</html>